#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp C_MUTE  &kp C_VOL_DN  &kp C_VOL_UP
                &kp C_PREV  &kp C_PP      &mo 1
            >;
        };

        studio_layer {
            bindings = <
                &studio_unlock  &none  &none
                &none           &none  &none
            >;
        };
    };
};
